body {
	background: url(../images/trem-2.jpg) no-repeat center center fixed;
	background-size: cover;
	color: #000;
}

/*Main*/
.main .row {
	margin: 50px 0 0;
}

.main h1 {
	font-size: 25px;
	margin-bottom: 40px;
}

.main .form-group {
	margin-bottom: 25px;
}
	
.main label {
	font-size: 17px;
	margin-bottom: 13px;
}

.main input,
.main textarea {
	background-color: rgba(0,0,0,.2);
	border: 1px solid #4df048;
	color: #fff;
}

.main input:hover,
.main textarea:hover {
	background: rgba(0,0,0,.5);
	transition: background 1s;
}

.main input:focus,
.main textarea:focus {
	box-shadow: 4px 4px 8px rgba(0,0,0,.5);
	background: rgba(0,0,0,.8);
}

.main textarea {
	width: 100%;
	height: 150px;
	padding: 12px 20px;
	box-sizing: border-box;
	resize: none;
}

.main .btn {
	background: #4df048;
	border: none;
	padding: 6px 20px;
	margin-bottom: 50px;
	font-size: 17px;
	font-family: 'Aref Ruqaa', serif;
	font-weight: bold;
}

.main .btn:hover {
	box-shadow: 4px 4px 8px rgba(0,0,0,.6);
	transition: box-shadow 1s;
	background: rgba(77,240,72,.9);
}